{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			color: black;
			font-weight: bold;
		}

		th,
		td {
			padding: 10px;
		}

		table#alter tr:nth-child(even) {
			background-color: #eee;
		}

		table#alter tr:nth-child(odd) {
			background-color: #fff;
		}

		table#alter th {
			color: white;
			background-color: gray;
		}
	</style>

</head>

<body>

	<h1>Visitor Data</h1>
	<h4>
		<li><a href="{% url 'back' %}">Home</a></li>
	</h4>

	<hr> <!-- hr tag for horizontal line-->
	<table id="alter">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Emp Code</th>
			<th>Reason</th>
			<th>Amount</th>
			<th>Type</th>
			<th>Petty Amount</th>
			<th>Date</th>
		</tr>
		{% for i in log_data %}
		<tr>
			<td>{{i.fname}}</td>
			<td>{{i.lname}}</td>
			<td>{{i.email}}</td>
			<td>{{i.emp_code}}</td>
			<td>{{i.reason}}</td>
			<td>{{i.amount}}</td>
			<td>{{i.type}}</td>
			<td>{{i.petty_amount}}</td>
			<td>{{i.date}}</td>
		</tr>
		{% endfor %}
	</table>





</body>

</html>
{% endblock %}